@font-face{
    src: url(./timer-font.ttf);
    font-family: TimerFont; 
    /* For a moment I thought that this `font-family` property was a fallback of
    fonts to use in case my font didn't load it correctly, but it seems it is 
    literally putting the name of the font to use, as in `.current-score` I use
    it to correctly put the eight-segment display font. */
}
.scoreboard{
    width: 700px;
    height: 500px;
    background-color: blue;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Regardless of what I do I keep having one column with all the content...
    I see it now, I didn't put that the class should be `display:flex` */
    border-radius: 30px;
}

.current-score{
    background-color: black;
    color:  red;
    font-family: TimerFont;
}

#home-score{
    padding: 25px 15px;
}

#guest-score{
    padding: 25px 15px;
}

.home-team{
    margin-right: 10px;
}

.home-team h1 {
    margin: 0 auto;
    /* Here */ 
}

.guest-team{
    margin-left: 10px;
}

body{
    color: antiquewhite;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons h3{
    padding: 10px;
    border: antiquewhite solid 3px;
}