@font-face{
    src: url(./timer-font.ttf);
    font-family: TimerFont; 
}
.scoreboard{
    width: auto;
    height: 50vw;
    min-height: 500px;
    background: linear-gradient(blue, purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.current-score{
    background-color: black;
    color:  red;
    font-family: TimerFont;
}

#home-score{
    width: 200px;
    height: auto;
    padding: 25px 15px;
}

#guest-score{
    width: 200px;
    height: auto;
    padding: 25px 15px;
}

.home-team{
    margin: 0px auto;
}

.guest-team{
    margin: 0px auto;    
}

body{
    color: antiquewhite;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons button{
    padding: 10px;
    border: antiquewhite solid 3px;
    border-radius: 5px;
    color: antiquewhite;
    background-color: transparent;
}
