@font-face{
    src: url(./timer-font.ttf);
    font-family: TimerFont; 
}
.scoreboard{
    width: 700px;
    height: 500px;
    background-color: blue;
    padding: 50px;
    margin: 50px;
    display: flex; 
    /* I don't remember what I moved for the quest block to be lower. */
    border-radius: 30px;
}

.current-score{
    background-color: black;
    color:  red;
    font-family: TimerFont;
}

#home-score{
    padding: 25px 15px;
}

#guest-score{
    padding: 25px 15px;
}

.home-team{
    margin-right: auto;
    /* I like more the `auto` keyword as I feel it provides way more responsivity
    to the layout */ 
}

.home-team h1 {
    margin: 1rem auto;
    /* I recall in a tutorial that I saw that what is normally used in webpages is 
    REM, which seems to simply be a multiple of 16 pixels. I assume that there must
    be something with that number that is naturally pleasing to our eyes */ 
}

.guest-team{
    margin-left: 0;
}

body{
    color: antiquewhite;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons h3{
    padding: 10px;
    border: antiquewhite solid 3px;
    border-radius: 10px;
}