.hero{
    /* It is very interesting that when the image does
    not fill the width by itself it repeats multiple time
    to do so */

    /* Another interesting thing is that as I linked 
    the background image with the div it cuts the image 
    to fill just enough of the other elements in the div
    
    It also does this in the vertical position. I
    image the best for my application would be to limit
    the div to the specific size of my image or to
    resize the image down to the size of the div*/
    height: 343px;
    /*While I removed the height in order to have the 
    image cover the whole browser, now I see that the
    default responsive design is making so when the 
    window is small, I can see the "legs" of the arcos,
    but when the browser is wide open I cannot see 
    them anymore, I can just see the top.*/
    background-image: url("./images/arcos_queretaro.jpg");

    /*It seems that cover means "fill the whole box, keep
    aspect ratio". I can change it to contain. The description
    in VSCode says "Scale the image, while preserving its 
    intrinsic aspect ratio (if any), to the largest size 
    such that both its width and its height can fit inside 
    the background positioning area". It doesn't seem to be
    the appropriate solution for my case */
    background-size: cover;

    /* It seems that I can prevent the background image
    from repeating with the command below*/
    background-repeat: no-repeat;

    /*It seems that the reason why I am getting whitespace
    to my hero section despite having everything in zero is
    that the browser has a default margin of around 8 pixels.*/ 
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* While I have left all the 3 "space" characteristics
    my image is still not going to the borders of the 
    browser */ 
    /* The problem here is that my browser seems to be
    gigantic, as the image is left in the left upper corner
    of my browser. The AI says that the problem is that is 
    expected with fixed-sized elements. That I must center 
    it or make it "fluid" in order to solve it*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {
    text-align: center;
    /* It is so interesting that even if I put my margin
    to 0 pixels the div stil leaves some whitespace around
    it*/ 
}

#visit-msg{
    font-size: 45px;
    padding: 20px;
}

.main-txt-btn{
    background-color: a8dadc;
    /* Is there a way to describe this div to be 
    a certain of pixels larger than the text it contains?
    I understand it seems backwards but it is what I could
    have come with*/ 
}

.all-activities{
    /* Is there a way to select all the images that are 
    inside this div and apply style to them?*/
    display: flex;

    /*Even though I try to put a border of 50% in order to
    get a circle the images are displayed one after the other
    in rectangles. I feel that I might be doing way too much
    work by creating such specific ids and classes. It might 
    be probably because I am on the parent div, not the specific 
    one!*/
    border-image: 50%;
    background-color: 457b9d;

    /* Here I don't understand why I am getting a different 
    size for each activity... should I force their size manually?
    the temple of Santa Rosa de Viterbo is consuming almost twice
    the size that the acueduct of Queretaro*/
    justify-content: center;
    align-items: center;
}

.subtitle{
    font-size: 35px;
}

.activities{
    /*That wasn't it...*/ 
    border-radius: 50%;
    border-image: 50%;
    
    /*While the images are still not centered the padding makes 
    them look quite nice*/
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*While I have managed what I wanted to do, I wonder why when I do both
    justify-content and align-items to center they showed to be centered along
    the horizontal axis, but when I changed the flex-direction to column now it is
    centered on the vertical axis... what I mean is that I thought that if both
    axis are centered, it doesn't matter if it is a column or a row, both should
    look the same*/
}

#three-activities-title{
    font-size: 40px;
}

.activities-picture{
    /*Finally! Creating the class for the images was a good
    choice*/
    border-radius: 50%;
    width: 100px;
    height: 100px;

    /*I think these two show that images are not display
    block... but how might I center them? */ 
    margin-left: auto;
    margin-right: auto;
}

.activities-description{
    color: whitesmoke;
    font-size: 20px;
}

.activities-title{
    color: whitesmoke;
    font-weight: bold;
    font-size: 25px;
}

#three-activities{
    /*It seems I cannot influence the size of the text inside a paragraph 
    directly... This seems odd, am I forced to use a header tag? When I change
    it to a header I cannot influence the size of the text directly either. 
    What I am noticing though is that I might influence the size indirectly 
    I can't say for sure but at least to me the h1 of the top 3 activites
    looks bigger than the h1 of the hero. I think that the reason for that
    is that the hero is inside a div*/
    color: white;
    background-color: 1d3557; /*The problem with putting the color straight 
    to the h1 is that h1 is a block that barely covers the letters. If I 
    want to see it as a block I need to put it in the div... it didn't worked, it 
    seems that the div simply takes the size of whatever is inside of it*/
    height: 50px;
    margin: 10px auto;    
}

.guide-info{
    background-color: e63946;
    margin: 50px;
    display: flex;
    border-radius: 25px;
    border-bottom: black solid 10px;
}

/*Colors:
- e63946 used for guide-info
- f1faee 
- a8dadc used for hero
- 457b9d used for all-activites
- 1d3557 used for three-activities
*/

.guide-img{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    border-radius: 25px;
}

.informative-text{
    font-size: 30px; /*All this time I could have modified the size of the 
    text! I just needed to realize it was not text but font the keyword that 
    I needed. */
    margin: 35px 30px;
    color: whitesmoke;
    text-align: center;
}